<form action="/new/<%= type %>" method="post">

  <% if (typeof errors !== 'undefined') { %>
    <ul>
      <% for (let err of errors) { %>
        <li><%= err.msg %></li>
      <% } %>
    </ul>
  <% } %>

  <% if (type === 'brand') { %>
    <label for="brandName">Brand name: </label>
    <input type="text" id="brandName" name="name" required/>
    <label for="website">Brand website: </label>
    <input type="url" id="brandWebsite" name="website" required/>

  <% } else if (type === 'category') { %>
    <label for="categoryName">Category name: </label>
    <input type="text" id="categoryName" name="name" required/>

  <% } else if (type === 'item') { %>
    <label for="itemName">Item name: </label>
    <input type="text" id="itemName" name="name" required/>

    <label for="category">Item category: </label>
    <select name="categoryId" id="category">
      <% if (categories) { %>
        <% for (let opt of categories) { %>
          <option value="<%= opt.id %>"><%= opt.name %></option>
        <% } %>
      <% } else { %>
        <option disabled>No categories available</option>
      <% } %>
    </select>

    <label for="brand">Item brand: </label>
    <select name="brandId" id="brand">
      <% if (brands) { %>
        <% for (let opt of brands) { %>
          <option value="<%= opt.id %>"><%= opt.name %></option>
        <% } %>
      <% } else { %>
        <option disabled>No brands available</option>
      <% } %>
    </select>

    <label for="imageUrl">Image Url: </label>
    <input type="url" name="imageUrl" id="imageUrl">

  <% } else { %>
    <h3>Show error when requested form does not exist - TODO:</h3>
  <% } %>

  <button type="submit">Submit</button>
</form>
