<div>
  <img src="<%= item.image_url %>" alt="<%= item.name %>">
  <div>
    <h5><a href="<%=item.website%>" target="_blank" rel="noopener noreferrer"><%= item.brand %></a></h5>
    <p><%= item.name %></p>
    <a href="/edit-item/<%= item.id %>">Edit</a>
  </div>
</div>