<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= item.name %></title>
</head>
<body>
  <%- include('./partials/header') %>

  <main>
    <h3><%= item.name %></h3>
    <img src="<%= item.image_url%>" alt="<%= item.name %>">
    <p>Category : <%= item.category %></p>
    <a href="/edit/<%=item.id%>">Edit</a>
    <a href="/delete/item/<%=item.id%>">Delete</a>
  </main>
</body>
</html>