<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/metadata') %>
  <title><%= isEdit ? 'Edit' : 'Add New' %> <%= capitalize(type) %></title>
</head>
<body class="container-fluid d-flex flex-column">
  <%- include('partials/header') %>

  <main class="container-sm mt-5 p-3 border border-2 rounded" style="max-width: 40rem;">
    <h2 class="text-center mb-4"><%= isEdit ? 'Edit' : 'Add New' %> <%= capitalize(type) %></h2>
    <form action="<%= isEdit ? '/edit/' + type + '/' + item.id : '/new/' + type %>" method="post">

      <% if (typeof errors !== 'undefined') { %>
        <div class="alert alert-danger">
          <ul>
            <% for (let err of errors) { %>
              <li><%= err.msg %></li>
            <% } %>
          </ul>
        </div>
      <% } %>

      <% if (type === 'category') { %>
        <div class="mb-3">
          <label for="name" class="form-label">Category Name</label>
          <input type="text" id="name" name="name" value="<%= isEdit ? item.name : '' %>" class="form-control" required />
        </div>
      <% } else if (type === 'item') { %>
        <div class="mb-3">
          <label for="name" class="form-label">Item Name</label>
          <input type="text" id="name" name="name" value="<%= isEdit ? item.name : '' %>" class="form-control" required />
        </div>

        <div class="mb-3">
          <label for="category" class="form-label">Item Category</label>
          <select name="categoryId" id="category" class="form-control form-select">
            <% for (let cat of categories) { %>
              <option value="<%= cat.id %>" <%= isEdit && item.category_id === cat.id ? 'selected' : '' %>><%= cat.name %></option>
            <% } %>
          </select>
        </div>

        <div class="mb-3">
          <label for="imageUrl" class="form-label">Image URL</label>
          <input type="url" name="imageUrl" id="imageUrl" class="form-control" disabled>
          <div class="form-text">Image selection is currently disabled for security and my lazy ass reason</div>
        </div>
      <% } %>

      <button type="submit" class="btn btn-primary mx-auto d-block">Submit</button>
    </form>
  </main>

  <div class="mt-auto">
    <%- include('partials/footer') %>
  </div>
</body>
</html>
